asgiref==3.8.1
bleach==6.2.0
certifi==2025.4.26
charset-normalizer==3.4.1
Django==5.2
django-markdownify==0.9.5
django-pwa==2.0.1
django-tailwind==4.0.1
djangorestframework==3.16.0
idna==3.10
Markdown==3.8
numpy==2.2.5
pandas==2.2.3
pillow==11.2.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
typing_extensions==4.13.2
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.4.0
webencodings==0.5.1
